@charset "UTF-8";

body {
  background-color: seashell;
  font-family: Georgia, Palatino, serif;
  vertical-align: middle;
  padding-top: 60px;
  padding-bottom: 40px;
  height: 1000px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.fixed-header, .fixed-footer {
  width: 100%;
  position: fixed;
  background: indianred;
  padding: 10px 0;
  color: #fff;
}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.core {
  text-align: center;
  color: indianred;
  font-size: 50px;
  position: relative;
  margin-top: 50%;
  user-select: none;
}

.core hr {
  color: bisque;
  border: 3px solid;
  border-radius: 50%;
  width: 10%;
}

.core:hover {
  font-size: 55px;
  transition: font-size 1s ease;
}

.core:hover hr {
  width: 30%;
  transition: width .5s linear;
}

.timer {
  display: inline-block;
  text-align: right;
  width: 70%;
}

.timer span {
  width: 60px;
  display: inline-block;
  text-align: center;
}

.timer span:hover {
  color: gold;
}

a:hover {
  color: #f44336;
}

/*碎屑飘扬*/
/*.flake {*/
  /*width: 2px;*/
  /*height: 2px;*/
  /*border: firebrick 1px solid;*/
  /*position: absolute;*/
/*}*/

canvas {
  position: fixed;
}