body {
  background-color: seashell;
  font-family: Georgia, Palatino, serif;
  vertical-align: middle;
  height: 1000px;
}

.core {
  text-align: center;
  color: indianred;
  font-size: 50px;
  position: relative;
  top: 40%;
}

.core hr {
  color: bisque;
  border: 3px solid;
  border-radius: 50%;
  width: 10%
}
