.piclist li {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 2px;
  border: 5px solid white;
  -webkit-transition: all 1.7s ease;
}

.piclist:hover li:not(:hover) {
  opacity: .5;
  filter: blur(2px) grayscale(1);
}

img {
  width: 200px;
  height: 150px;
}
